<div class="score-board">
  <div class="badge" id="user-label">
    user:{{UserSelected}}
  </div>

    <div class="badge" id="comp-label">
      comp:{{CompSelected}}
  </div>
  <span id="user-score">{{UserScore}}</span>:
  <span id="comp-score">{{CompScore}}</span>
</div>

<div class="results">
<p *ngIf="status">
  {{UserSelected}} {{action}} {{CompSelected}} {{status}}
 
</p>
</div>

<div class="choices">
  <div class="choice">
<img src="../assets/images/rock.png"(click)="UserPick('rock')"> 
  </div>
  <div class="choice">
      <img src="../assets/images/paper.png"(click)="UserPick('paper')">
  </div>
  <div class="choice">
      <img src="../assets/images/scissors.png"(click)="UserPick('scissors')"> 
  </div>
</div>
<p *ngIf="!status" id="action-message">Make your move </p>
<p *ngIf="status" id="action-message">wait...</p>
<button (click)="reset()">reset</button>
<h1>{{title}}</h1>


<router-outlet></router-outlet>